---
layout: default
alt-fb-share-img: http://i.imgur.com/NN3Bkn7.jpg
---

<article>
	<div class="my-text-body post-container">
		<div class="row" >
			<h1>Happy Mother's Day to all you Fieldwork Moms!</h1>
			<p>Check out <a href="http://twitter.com/hashtag/naturemom">#naturemom</a> and <a href="http://twitter.com/hashtag/pregnantinthefield">#pregnantinthefield</a> on twitter!</p>
			{% for post in site.posts %}
				{% if post.fieldworkmom %}
					{% if post.imgurfilepath %}
					<div class="col gallerycol s4">
						<a class="gallery-link" href="{{post.url}}">
							{% if post.gallery-img %}
								<img src="{{post.gallery-img | replace: '.jpg', 'm.jpg'}}" />
							{% else %}
								<img src="{{post.imgurfilepath | replace: '.jpg', 'm.jpg'}}" />
							{% endif %}
					
						</a>
					</div>
                	
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		
	</div>
</article>
<h2 style="font-size: 30px;">Gallery <i class="fa fa-arrow-down"></i></h2>
{% include gallery-more-faces.html %}