---
layout: default
alt-fb-share-img: http://i.imgur.com/NN3Bkn7.jpg
---

<article>
	<div class="my-text-body">
		<div class="row" >
			<h2>Happy Mother's Day!!</h2>
			<p>Check out <a href="http://twitter.com/hashtag/naturemom">#naturemom</a>, <a href="http://twitter.com/hashtag/fieldworkmom">#fieldworkmom</a>, and <a href="http://twitter.com/hashtag/pregnantinthefield">#pregnantinthefield</a></p>
			{% for post in site.posts %}
				{% if post.fieldworkmom %}
					{% if post.imgurfilepath %}
					<div class="col gallerycol s4">
						<a class="gallery-link" href="{{post.url}}">
							{% if post.gallery-img %}
								<img src="{{post.gallery-img | replace: '.jpg', 'm.jpg'}}" />
							{% else %}
								<img src="{{post.imgurfilepath | replace: '.jpg', 'm.jpg'}}" />
							{% endif %}
					
						</a>
					</div>
                	
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		
	</div>
</article>