---
layout: splash
---

{% for post in site.posts limit:20 %}
	<div class="post-container">
		<!-- Note that l.jpg below tells imgur site to serve a thumbnail -->
		<div class="row"><a href="{{post.url}}"><img class="post-image" src={{post.imgurfilepath | replace: ".jpg", "l.jpg"}}></a></div>
		<a class="padded-title" href="{{post.url}}"> {%if post.author%}{{post.author}} - {%endif%}{{post.title}} </a>
		{% if post.location %}
			<br>
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<span class="my-tag">{{ post.location }}</span>&ensp;
		{% endif %}
			
		{% if post.twitterhandle %}
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<span class="my-tag"><a href="http://twitter.com/{{ page.twitterhandle }}">@{{ post.twitterhandle }}</a></span>
		{% endif %}
		<br>
	    {% if post.tags %}
	      <i class="fa fa-tags" aria-hidden="true"></i>
	      {% for tag in post.tags %}
	        <span class="my-tag">{{ tag }}</span>&ensp;
	      {% endfor %}
	    {% endif %}
		<div class="expander">
			{{post.content}}
			{% include facebook_like.html %}
		</div>
	</div>
{% endfor %}
