---
layout: splash
---

{% for post in site.posts limit:4 %}
	<!-- Note that l.jpg below tells imgur site to serve a thumbnail -->
	<div class="row"><a href="{{post.url}}"><img src={{post.imgurfilepath | replace: ".jpg", "l.jpg"}}></a></div>
	<a class="padded-title" href="{{post.url}}"> {%if post.author%}{{post.author}} - {%endif%}{{post.title}} </a>
	{% if post.location %}
		<br>
		<i class="fa fa-map-marker" aria-hidden="true"></i>
		<span class="my-tag">{{ post.location }}</span>&ensp;
	{% endif %}
	<br><br><br>
{% endfor %}

<div class="center-align">
	<a href="list_view.html" class="waves-effect waves-teal btn-flat btn-large">See All Faces <i class="fa fa-list"></i></a>
</div>