<footer class="my-footer z-depth-2">
    <p class="footer-p">
		<a href="/about/" class="waves-effect waves-teal btn-flat"><i class="fa fa-question"></i></a>
		<a href="{{site.contributeURL}}" class="waves-effect waves-teal btn-flat">Share your story</a>
		<a href="/" class="waves-effect waves-teal btn-flat"><i class="fa fa-home"></i></a>
		<!-- <a href="https://twitter.com/{{ site.twitter_username }}"class="waves-effect waves-teal btn-flat my-twitter-link"><i class="fa fa-twitter"></i></a>
		<a href="https://facebook.com/facesoffieldwork"class="waves-effect waves-teal btn-flat"><i class="fa fa-facebook"></i></a> -->
    </p>
</footer>
<script type="text/javascript" src="{{ "/styles/jquery.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>


<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=262402210442311";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   
<!-- Facebook -->

{% if site.g_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.g_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}

<script src="/js/jquery.expander.min.js"></script>
<script>
$('div.expander').expander({
  slicePoint: 200
});


$('.more-link').click(function() {
	var url = $( this ).closest(".post-container").children(".post-url-link").attr("href");
	ga('send', {
	  hitType: 'event',
	  eventCategory: 'posts',
	  eventAction: 'read-more',
	  eventLabel: url
	});
});
</script>

<script>
$( document ).ready(function() {
	if($("#image-gallery").length > 0){
	Materialize.toast("Click on the links below each image to read the story!", 5000)
	}
});
	
</script>
