  <div class="row" id="gallery-toggle-menu">
  	<div class="col s2 offset-s2 m1 offset-m4" >
  		<a href="/about/">
  			<i class="fa fa-question fa-lg tooltipped" data-position="bottom" data-delay="250" data-tooltip="About"></i>
  		</a>
  	</div>
	<div class="col s2 m1">
		<a href="/gallery/">
  			<i class="material-icons tooltipped" data-position="bottom" data-delay="250" data-tooltip="Gallery View">apps</i>
		</a>
	</div>
	<div class="col s2 m1">
		<a href="/">
			<i class="material-icons tooltipped" data-position="bottom" data-delay="250" data-tooltip="Detail View">list</i>
		</a>
	</div>
	
	<div class="col s2 m1">
		<a href="/map/">
			<i class="fa fa-globe fa-lg tooltipped" data-position="bottom" data-delay="250" data-tooltip="Map View"></i>
		</a>
	</div>
  </div>