<div class="row" >
	{% for post in site.posts %}
		{% if post.imgurfilepath %}
		<div class="col s4">
			<a class="gallery-link" href="{{post.url}}">
				{% if post.gallery-img %}
					<img src="{{post.gallery-img | replace: '.jpg', 'm.jpg'}}" />
				{% else %}
					<img src="{{post.imgurfilepath | replace: '.jpg', 'm.jpg'}}" />
				{% endif %}
				
			<span style="display:block;">{{post.author}}</span>
			</a>
		</div>
		{% cycle "", "", "</div><div class='row'>" %}
		
		{% endif %}
	{% endfor %}
</div>
