<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="robots" content="index,follow">
    <meta itemprop="name" content="{{ site.title }}">

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
	<meta property="fb:app_id" content="{{site.FacebookAppID}}" />
    <meta property="og:title" content="{% if page.title %}{%if page.author%}{{page.author}} - {%endif%}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content={% if page.imgurfilepath %}"{{page.imgurfilepath | replace: ".jpg", "h.jpg"}}"{%else%}"{{site.default_share_image}}"{%endif%} />
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
	<meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{% if site.twitter_username %}@{{ site.twitter_username }}{% else %} "fieldworkfaces" {% endif %}" />
    <meta name="twitter:title" content="{% if page.title %}FOF - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content={% if page.imgurfilepath %}"{{page.imgurfilepath | replace: ".jpg", "h.jpg"}}"{%else%}"{{site.default_share_image}}"{%endif%}/>

    <link href="{{ "/atom.xml" | prepend: site.baseurl }}" type="application/atom+xml" rel="alternate" title="ATOM feed">
    <link href="{{ "/feed.xml" | prepend: site.baseurl }}" type="application/rss+xml" rel="alternate" title="RSS feed">


    <link rel="shortcut icon" href="{{ " /images/favicon.png " | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/styles/mlz/mlz.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/styles/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/styles/fa/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/styles/custom.css" | prepend: site.baseurl }}">

</head>
