<article id="featured-face-skeleton" class="center-align" itemscope itemtype="http://schema.org/BlogPosting" style="display:none;">

  
	<div class="my-text-body post-container" id="featured-face">
		<div class="row featured-face-img-row">
	 		<img src="" class="featured-face-img"/>
		</div>
		<h2 class="featured-face-title"></h2>
		<div class="featured-face-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<span class="post-location"></span>
		</div>
		<div class="featured-face-twitter">
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<a class="twitter-link" href=""></a>
		</div>
		<div class="featured-face-tags">
	      <i class="fa fa-tags" aria-hidden="true"></i>
		</div>
		<div class="featured-face-content"></div>
		<!--
			<div class="fb-comments" data-href="" data-numposts="5" data-width="100%"></div>
			-->
			
	 	{% include facebook_like.html %}
		
  </div>

</article>

