---
layout: default
---
<article class="center-align" itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <h2 class="my-mini-heading" itemprop="name headline">{{ page.title }}<br>
    <span class="my-mini-heading-sub">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
    </span></h2> -->
  
  <div class="my-text-body post-container">
	  {% if page.youtube %}
	  <div class="row" style="position:relative;height:0;padding-bottom:56.25%"><iframe src="{{page.youtube}}{{site.youtubeparams}}" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
	  {% else %}
	  <div class="row"><img src={{ page.imgurfilepath }}></div>
	  {% endif %}
	 
	 <h3>{{ page.title }}</h3>
  
  <p class="center-align my-text-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    {% if page.author %}
      <span itemprop="name">contributed by {{ page.author }}</span>
    {% endif %}
    <br>
	{% if page.twitterhandle %}
		<i class="fa fa-twitter" aria-hidden="true"></i>
		<span class="my-tag"><a href="http://twitter.com/{{ page.twitterhandle }}">@{{ page.twitterhandle }}</a></span>
	{% endif %}
	<br>
    {% if page.tags %}
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% for tag in page.tags %}
        <span class="my-tag">{{ tag }}</span>&ensp;
      {% endfor %}
    {% endif %}
	<br>
	{% if page.location %}
		<i class="fa fa-map-marker" aria-hidden="true"></i>
		<span class="my-tag">{{ page.location }}</span>&ensp;
	{% endif %}

  	</p>
	{{ content }}
	<div class="fb-comments" data-href="{{site.url}}/{{page.url}}" data-numposts="5" data-width="100%"></div>
	{% include facebook_like.html %}
	</div>
  <h3> More Faces <i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
  {% for post in site.posts limit:site.paginate %}
  {% if post.url != page.url %}
  	<div class="my-text-body post-container">
  		<!-- Note that l.jpg below tells imgur site to serve a thumbnail -->
  		<div class="row"><a href="{{post.url}}"><img class="post-image" src={{post.imgurfilepath | replace: ".jpg", "l.jpg"}}></a></div>
  		<h3>{{post.author}} - {{post.title}} </h3>
  		<div>
  			{% if post.location %}
  				<i class="fa fa-map-marker" aria-hidden="true"></i>
  				<span class="my-tag">{{ post.location }}</span>&ensp;
  			{% endif %}
  		</div>
  		<div>
  		{% if post.twitterhandle %}
  			<i class="fa fa-twitter" aria-hidden="true"></i>
  			<span class="my-tag"><a href="http://twitter.com/{{ post.twitterhandle }}">@{{ post.twitterhandle }}</a></span>
  		{% endif %}
  		</div>
  		<div>
  	    {% if post.tags %}
  	      <i class="fa fa-tags" aria-hidden="true"></i>
  	      {% for tag in post.tags %}
  	        <span class="my-tag">{{ tag }}</span>&ensp;
  	      {% endfor %}
  	    {% endif %}
  		</div>
  		<div class="expander">
  			{{post.content}}
  			{% include facebook_like.html %}
  		</div>
  	</div>
  {% endif %}
  {% endfor %}
  <a href="/"><h3>See all faces <i class="fa fa-home" aria-hidden="true"></i></h3></a>
  
	
</article>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	var jsonObject = $.getJSON("/json-post-urls/", function(data){
	var randomurl = data[Math.floor(Math.random()*data.length)];
	$("#randombutton").attr("href", randomurl)
	});
});
</script>