---
layout: default
---
<article class="center-align">

  
  
  <div class="my-text-body">
    {{ content }}
  </div>
  
  <div id="modal-calltoaction" class="modal">
	<article class="center-align">
    	<div class="modal-content">
			<div class="my-text-body">
    			<h2>We want to hear YOUR story!</h2>
				<div class="row">
					{% assign counter = 1 %}
					{% for post in site.posts %}
						{% if post.imgurfilepath %}
							<div class="col s4">
								<img src='{{post.imgurfilepath | replace:".jpg","b.jpg"}}'>
							</div>
							{% assign counter = counter | plus: 1 %}
						{% endif %}
						{% if counter == 4 %}{% break %}{% endif %}
					{% endfor %}
				</div>
				<p>At Faces of Fieldwork, we believe that public engagement with science increases when people understand who we are and what we do. That's why we created this site: to show the good, the bad, and the ugly of real scientists doing real fieldwork. Students, faculty, researchers....everyone is welcome!</p>
  			{% include facebook_like.html %}
    		</div>
		</div>
    	<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="/upload_image/?from=modalcalltoaction" class="waves-effect waves-green btn-flat teal lighten-3">Share your story</a>
    	</div>
	</article>
  </div>

</article>