---
layout: default-no-description
---
<article class="center-align">
  <!-- <h2 class="my-mini-heading">{{ page.title }}</h2> -->
    <p class="my-description" itemprop="text">
      Share your own fieldwork photos and stories....
      <br>
      Photo should be a square, and <10mb. You can tell us more about your photo after you upload it.
    </p>
  <div class="my-text-body">
    {{ content }}
  </div>
  <div class="center-align">
    <a class="waves-effect waves-teal btn-flat btn-large" href="{{ site.baseurl }}/">{{ site.home_btn }}</a>
  </div>
</article>