.modalizedimage {
	width:70%;
}

div.page_number{
	margin-top:7px;
}

.pagination a {
	color:black;
}

.pagination {
	margin-bottom:0px;
}

a h3 {
	color:black;
}

.error {
	color:red;
	font-weight: bold;
}

.button, input[type="file"], input[type="button"]{
	color:white;
	background-color:#4db6ac;
	border-radius:3px;
	border-width:1px;
	padding:10px 10px 10px 10px;
	border-style:outset;
	width:100%;
}

a {
	color:#4db6ac;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.my-text-body a:hover{
	background-color:rgba(0,0,0,0.1);
	border:none;
}

.padded-title {
	padding:3px 10px 3px 10px;
}

.post-container {
	background-color:#fafafa;
	border-style: solid;
	border-width: 1px;
	border-color:#dddddd;
	padding:9px 20px 5px 20px;
	margin-bottom: 20px;
}

.post-image {
	max-width:100%;
	
}

#map {
      width: 420px;
      height: 420px;
    }
