.error {
	color:red;
	font-weight: bold;
}

input[type="submit"], input[type="button"]{
	color:white;
	background-color:#4db6ac;
	border-radius:3px;
	border-width:1px;
}

a {
	color:#4db6ac;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.my-text-body a:hover{
	background-color:rgba(0,0,0,0.1);
	border:none;
}

.padded-title {
	padding:3px 10px 3px 10px;
}

.post-container {
	background-color:#fafafa;
	border-style: solid;
	border-width: 1px;
	border-color:#dddddd;
	padding:5px 5px 5px 5px;
	margin-bottom: 10px;
}

.post-image {
	width: 95%;
	
}
