.error {
	color:red;
	font-weight: bold;
}

input[type="submit"], input[type="button"]{
	color:white;
	background-color:#4db6ac;
	border-radius:3px;
	border-width:1px;
}

a {
	color:#4db6ac;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}